**/wwwroot/app/
**/wwwroot/bin/
**/wwwroot/js/
**/wwwroot/scripts/
**/wwwroot/styles/

**/node_modules/
[Ss]cripts/[Aa]pp/*.js
[Ss]cripts/[Aa]pp_old/*.js

.tscache/
.tscache/**
.tscache/**/*
.vs/

[Mm]igrations/
[Mm]igrations/**
[Mm]igrations/**/*

*.mwb.bak	# MySQL Workbench .BAK file
*.dbmdl		# VS2010 Database Projects cache file
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.DotSettings
[Bb]in
[Dd]ebug*/
[Dd]ebug*/**
obj/
[Rr]elease*/
[Rr]elease*/**
_ReSharper*/
_ReSharper*/**
NDependOut/
NDependOut/**
packages/
packages/**
[Tt]humbs.db
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.resharper
*.ncrunch*
*.ndproj
